{% extends "main.html" %}
{% block content %}
    <h1>Projects Template</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, turpis ut faucibus sodales, urna ipsum bibendum orci, sit amet interdum dolor nulla sit amet nunc. Cras volutpat euismod erat, vitae elementum dolor luctus eu. Suspendisse aliquam est sem, sit amet semper nisi fermentum venenatis. Nullam lobortis sapien bibendum libero pretium fringilla. Etiam libero leo, auctor eu est sit amet, tincidunt mollis eros. Pellentesque cursus vulputate lorem quis placerat. Ut ac aliquet justo. Nulla justo est, gravida sed odio nec, accumsan dapibus mauris. Maecenas elementum ac urna eu ultricies. Mauris in mauris lobortis nisi laoreet malesuada. Quisque venenatis sapien arcu, a imperdiet purus rhoncus id. In venenatis tortor nibh, in porta purus sollicitudin at. Sed arcu odio, dignissim eget ex at, venenatis condimentum orci. Cras efficitur ipsum dictum turpis consectetur viverra.
    </p>
{% endblock content %}
